.hover-button {
    color: white;
    background-color: blue;
    width: 150px;
    height: 50px;
    border: none;
  }
  
  .hover-button::after {
    content: "Pasa por encima";
  }
  
  .hover-button:hover::after {
    content: "¡Hecho!";
  }
  
  .hover-button:hover {
    background-color: green;
  }
  